[2014-08-06 21:14] mattt416 opened #71 "cinder_api_local_check.py broken"
[code]

[2014-08-06 21:15] mattt416 opened #72 "Add container name to metrics"
We wrote the plugins assuming they'd be running inside a container (which would its own MaaS entity).  Since we're now running the plugins from the host, and there may be multiple of the same plugins running on the same host, we need a way to associate different metrics w/ a particular container.

[2014-08-07 07:49] git-harry opened #73 "Neutron is not cinder"
https://github.com/rcbops/rcbops-maas/blob/master/cinder_api_local_check.py#L51-55

[2014-08-07 08:42] #72 closed, assigned to nobody

[2014-08-07 14:45] #71 closed, assigned to nobody

[2014-08-07 14:51] #73 closed, assigned to nobody

[2014-08-15 14:04] git-harry opened #82 "Assuming the regex always finds something"
https://github.com/rcbops/rcbops-maas/blob/master/openmanage.py#L22

all() returns True on an empty list.

I wonder if the script should also check the version of the tools installed.

[2014-08-19 09:04] #82 closed, assigned to sigmavirus24

[2014-08-27 14:12] andymcc opened #96 "openmanage hardware monitoring fails on version check"
The monitor doesn't specify the full path for "omconfig" so fails with the following error:

error The OpenManage tools do not appear to be installed

[2014-08-27 14:45] #96 closed, assigned to andymcc

[2014-09-17 11:43] cfarquhar opened #102 "RabbitMQ - Alert if node is the only cluster member"
In a recent post-deployment QC review, it was identified that we may not receive an alert if a RabbitMQ node was the only node in the cluster.  Please check with @jrcloud or @toxick if more details are necessary.

[2014-09-24 21:25] stevelle opened #104 "glance_registry_local_check omits unit and format on timing"
gives example output like

[code]

instead of including 3.f format and ms label on the timing as others do, for example glance_api_local_check.py

[code]

[2014-09-25 06:52] #104 closed, assigned to stevelle

[2014-09-25 06:53] mattt416 opened #106 "Metrics sending floats but defined as uint32"
We have a number of scripts which send floats but we've defined the metric as a uint32.

[2014-10-24 21:42] BjoernT opened #110 "horizon_check.py error:07069041:memory buffer routines:BUF_MEM_grow_clean:malloc"
RPCv9 checks are failing in repo version 9.0.1

Fri Oct 24 21:33:23 2014 INF: (plugin=horizon_check.py, id=chlmWtuPvL, iid=idHjiWAC9S) -> agent.plugin (details=args="172.29.237.162",file="horizon_check.py",id="chlmWtuPvL",period=60) scheduled for 60s
Fri Oct 24 21:34:27 2014 ERR: Connection: nil (50.57.61.13:443) -> 139741911230336:error:07069041:memory buffer routines:BUF_MEM_grow_clean:malloc fa

[2014-10-24 21:49] #106 closed, assigned to mancdaz

[2014-10-25 06:13] cfarquhar opened #111 "openmanage.py: Update to work with OMSA 7.4"
OMSA 7.4 is the latest and works fine on Ubuntu 14.04.  I'm having issues getting OMSA 7.1, which is what is hard-coded in openmanage.py, to work properly on Ubuntu 14.04.  Changing the version string [1] to 7.4 gets me past the version check, but 7.4 adds an additional line [2] [3] that matches 'Status' and causes the check to fail.

[1] https://github.com/rcbops/rpc-maas/blob/9.0.1/openmanage.py

[2014-10-25 14:58] #111 closed, assigned to claco

[2014-10-29 22:08] jpmontez opened #115 "`neutron_service_check.py` can't list agents"
On the monitoring dashboard, `No host(s) found in the agents list` is being returned from this plugin. From the source code, that exception's raised when the agents variable doesn't contain anything.

Oddly enough, when I log into the Neutron server and run the script directly with the Neutron endpoint as an argument, it succeeds.

[code]

[2014-10-30 16:07] jpmontez opened #116 "`nova_service_check.py` can't list agents"
See Issue: https://github.com/rcbops/rpc-maas/issues/115

File: `nova_service_check.py`
Arguments: `--host 573962-compute14 192.168.96.10`
Entity Label: `573962-compute14.qe1.iad3.rackspace.com`

The host being passed as an argument for this check needs to be the FQDN of the entity, not just it's hostname. When this is corrected, the check's successful.

For example:

[code]

Compared to:

[code]

[2014-10-30 16:36] #115 closed, assigned to mattt416

[2014-10-30 16:36] #116 closed, assigned to nobody

[2014-11-07 22:15] bjoernt opened #118 "neutronclient version issue with 9.0.1 pip wheel repo"
Downloading/unpacking python-neutronclient==2.3.5 (from -r /usr/lib/rackspace-monitoring-agent/plugins/requirements.txt (line 8))
  http://rpc.cloudnull.io/python_packages/9.0.1/ uses an insecure transport scheme (http). Consider using https if rpc.cloudnull.io has it available
  Could not find a version that satisfies the requirement python-neutronclient==2.3.5 (from -r /usr/lib/rackspace-monitor

[2014-11-13 18:43] b3rnard0 opened #122 "Spike: Installation issues"
Installation should not fail due to missing packages. Determine solution.

[2014-11-17 23:02] russwclark opened #124 "CMD Checks need to be setup by play books"
I am finally able to pull metrics from our customer accounts and realised that there is no CDM data.  These checks can be configured via the api and I would like to get them added as part of the playbooks.

[2014-11-21 20:55] jpmontez opened #126 "ansible-rpc-lxc v9.0.3 — `python-neutronclient` upgrades to known broken version"
Within the `ansible-lxc-rpc` repo, `v9.0.3` branch, the specified version of `python-neutronclient` to install is set to `2.3.6`.

However, within the `rpc-maas` repo, the [requirements.txt](https://github.com/rcbops/rpc-maas/blob/9.0.3/requirements.txt) file overrides this setting by specifying another version (`2.3.9`). This introduces a Keystone patch that ignores specified endpoint types (a kn

[2014-11-26 13:59] #118 closed, assigned to nobody

[2014-11-29 00:27] sigmavirus24 opened #130 "Rewrite swift-recon.py to use python-swiftclient"
All of the other checks similar to swift-recon.py use their client libraries so this should as well. That said, the swift team is moving away from actively developing python-swiftclient so we should also consider the viability of using python-openstacksdk. This will require the check registration to be rewritten in the playbooks.

[2014-12-29 21:24] BjoernT opened #137 "rabbitmq_status.py assumes cluster size of 3 hosts"
The rabbitmq_status.py assumes cluster size of 3 hosts which is a hard coded number. In cases where we rabbitmq cluster > 3 nodes we will run into monitoring issues. Please either determine that from the cluster status or make a option available

[2014-12-29 23:31] cfarquhar opened #138 "Add RabbitMQ monitor to alert when count(channel) > count(connection)"
Having any RabbitMQ connection servicing more than a single channel indicates a problem with agent <-> RabbitMQ communication.  We need an alert any time this occurs.

Expected behavior:
[code]

Indicates a problem:
[code]

[2015-01-01 15:59] sigmavirus24 commented on #138
Closed by #139

[2015-01-01 15:59] #138 closed

[2015-01-05 08:25] mattt416 commented on #110
Hi @BjoernT, I'm going to go ahead and close this issue.  If the problem persists, please let us know and we'll reach out to the MaaS team.

Thanks!

--Matt

[2015-01-06 18:20] claco opened #140 "Add SSL Cert Expiration Check/Alarm"
If the external api checks are monitoring https endpoints [instead of http], we should add a check/alarm to for the ssl certificate expiration date. This will help ensure that alarms are raised when the cert is nearing its expiration date [or has expired] so the cert gets updated before it impacts functionality.

This will be important going forward once we force https for all public/admin endpoin

[2015-01-07 15:29] mancdaz commented on #140
Remote checks are set up in the ansible playbooks, so moving this to launchpad:

https://bugs.launchpad.net/openstack-ansible/+bug/1408335

[2015-01-07 15:29] #140 closed

[2015-01-15 20:42] b3rnard0 opened #142 "CMD Monitoring"
From Russel Clark:

[2015-01-19 15:42] #122 closed

[2015-01-21 17:19] b3rnard0 commented on #142
@andymcc and @sigmavirus24 will be helping out with this issue.

@claco, cc'ing you so you are aware of this issue.

[2015-01-23 12:26] mancdaz commented on #142
![image](https://cloud.githubusercontent.com/assets/562262/5874533/de1b63f6-a2fa-11e4-9416-f1abded143af.png)

questions from original spreadsheet answered ^^

I will use this issue to track the addition of the agreed units to each metric.

[2015-01-24 01:37] seancarlisle opened #143 "Create Disk Space Monitor Plugin"
Currently we do not have monitoring for disk space.  We have come across a couple of customers who had full /boot partitions due to apt's unattended upgrades installing new kernels and filling /boot (being addressed here: https://bugs.launchpad.net/openstack-ansible/+bug/1411897.)  We need a plugin in place to check the amount of free disk space on a host that will be used by our monitoring to pro

[2015-01-27 09:49] mancdaz commented on #124
This is actually an invalid issue. After @andymcc and @russwclark spoke, it appears that the problem was that in fact the playbook to set up the CDM checks had not been run.

[2015-01-27 09:49] #124 closed

[2015-01-29 09:17] mancdaz commented on #142
fies merged to master, stable/icehouse and stable/juno.

Corresponding fix in os-ansible-deployment pending here:

https://bugs.launchpad.net/openstack-ansible/+bug/1415542

[2015-01-30 13:30] mancdaz opened #151 "queries_per_second is actually just cumulative queries"
when the plugin queries mysql, total queries is returned but we report it as queries per second

https://github.com/rcbops/rpc-maas/blob/master/galera_check.py#L47

[code]

We need some logic in the plugin to make 2 calls n seconds apart, and the delta is the qps

[2015-01-30 14:51] mancdaz opened #152 "memcache plugin is borken with syntax error"
This is neither a list nor a dictionary:

[code]

[2015-01-30 14:56] mattt416 commented on #152
Still seeing this:

[code]

[2015-01-30 15:27] #152 closed

[2015-02-01 18:37] BjoernT opened #157 "Multiple openstack checks do not take a DNS name as argument"
usage: nova_service_check.py [-h] [--host HOST] ip
nova_service_check.py: error: argument ip: invalid IPv4Address value: 'privapi.example.com'

That needs to be fixed

[2015-02-01 18:49] BjoernT commented on #157
Affected is also neutron_service_check.py

[2015-02-04 16:06] b3rnard0 commented on #143
This is obsoleted as we are covering the work here: https://bugs.launchpad.net/openstack-ansible/+bug/1414249

[2015-02-04 16:06] #143 closed

[2015-02-04 16:09] #142 closed

[2015-02-13 21:41] claco commented on #110
I have this issue on a fresh 10.1.2rc1 installation, and this is the version that gets dropped:

ii  rackspace-monitoring-agent          1.1.0-41                         amd64        Rackspace Cloud Monitoring Agent

[2015-02-16 16:05] claco commented on #110
I have a few versions of the previous debs we;re manage to dig out from installations. I'm going to give the -5 version a try to see if it still works, or if this is some underlying system change (openssl updates).

[2015-02-16 19:49] claco commented on #110
Tried the "fixed in 1.1.0-5 version". Same problem. This leads me to believe it's either something external transient in nature (openssl), or something unexpected on certain pool members on the endpoints.

[code]

[2015-02-16 21:56] BjoernT commented on #110
Yes I had similar issues to pin it down.
It appeared only during the TD bank POC install and disappeared once I removed all agents and reinstalled everything fresh with working OMSA checks (from the 9.0 OMSA hot fix branch) from rpc-maas

Bjoern

On Feb 16, 2015, at 1:49 PM, Christopher H. Laco <notifications@github.com<mailto:notifications@github.com>> wrote:

Tried the "fixed in 1.1.0-5 version"

[2015-02-25 16:15] claco commented on #126
Closing as I believe this is fixed in 9.0.5+

[2015-02-25 16:15] #126 closed

[2015-02-27 10:09] cemason opened #163 "Monitor connections"
Would it be possible to add a monitor to compare /proc/sys/net/ipv4/netfilter/ip_conntrack_max with /proc/sys/net/ipv4/netfilter/ip_conntrack_count and alert if the connections vs max connections is 90% or more?

[2015-02-27 10:25] mancdaz commented on #163
@cemason I've added this to our backlog, so it can be prioritised and targeted for a future sprint.

[2015-02-27 10:39] cemason commented on #163
Thanks!

—
Sent from Mailbox

On Fri, Feb 27, 2015 at 4:25 AM, Darren Birkett <notifications@github.com>
wrote:

[2015-02-27 14:45] cfarquhar commented on #163
Thanks @mancdaz and @cemason.  Please expose both metrics to MaaS so we can get them in to graphana once it's available.

[2015-02-27 16:43] b3rnard0 opened #164 "Create activity/freshness monitoring for openstack logs"
Please design a monitoring for all relevant Openstack log files, so we are getting notified if logfiles are stale due to a process crashed etc. This functionality should be integrated into rpc-maas

[2015-02-27 19:13] wolfdancer commented on #110
Hi there, this is to let you know that our agent engineer (Ryan) has confirmed the memory issue you are experiencing is the same issue that he is looking at based on the errors here.  He is actively working on it.

[2015-02-27 19:21] claco commented on #110
@wolfdancer Thank you!

[2015-02-27 21:32] stevelle commented on #157
any fix for this probably needs a backport to juno

[2015-03-02 15:33] BjoernT opened #166 "disk_utilisation.py has no executable bit set"
The disk_utilisation.py usually fails because of the missing x bit.
Please add the mode to the repository so we don't have to set it always manually

[2015-03-02 18:05] rphillips commented on #110
@claco could I get access to a machine that is showing this issue?

[2015-03-02 21:05] #157 closed

[2015-03-02 21:09] sigmavirus24 commented on #166
Should this be backported to icehouse and juno?

[2015-03-02 22:15] BjoernT commented on #166
Juno yes, icehouse no

[2015-03-02 23:52] sigmavirus24 commented on #166
@BjoernT see #169

[2015-03-04 13:03] mattt416 opened #170 "swift-recon.py plugin is broken"
The swift-recon.py plugin is currently failing, due to a call to a non-existent method in maas_common:

[code]

[2015-03-04 16:09] claco commented on #110
@rphillips Sorry. I was out for a few days. I noticed a new agent version drop. Do you still need a stack to test against?

[2015-03-04 16:29] rphillips commented on #110
Try out the new version please. if you still see the issue, then please let me know asap.

[2015-03-04 19:23] #170 closed

[2015-03-06 16:00] claco commented on #110
@rphillips Just stood up a full stack with the new -53, and I still have the same issue:

[code]

If someone can reach out internally, I can get them login creds.

[2015-03-06 17:11] rphillips commented on #110
#MaaS on internal irc... thanks

[2015-03-10 15:35] byronmccollum opened #172 "Swift MaaS Replication Checks Failing - Traceback - KeyError: 'replication_type'"
MaaS installation from RPC 10.1.2...

### Account Replication
[code]

### Container Replication
[code]

### Object Replication
[code]

[2015-03-10 15:39] claco commented on #172
So @sigmavirus24 and I have stumbled on this before. I swear it was a combo of a) we fixed it (maybe we didn't backport), and b) there is no replication related states without a replication network:  https://github.com/rcbops/rpc-heat/pull/3

[2015-03-10 15:45] sigmavirus24 commented on #172
Looks like A). I'll backport it ASAP

[2015-03-10 15:50] claco commented on #166
Appears to be fixed and backported. Closing issue.

[2015-03-10 15:50] #166 closed

[2015-03-10 15:52] sigmavirus24 commented on #172
See #173

[2015-03-12 00:41] byronmccollum commented on #172
Further investigation shows replication failed to start, which is the root of the failures above.

[2015-03-25 04:47] cfarquhar commented on #163
Hi @mancdaz, We had another customer's environment fall over due to connections exceeding the conntrack max.  Can you please provide an update on when this will be implemented?

[2015-03-25 14:25] sigmavirus24 commented on #163
@mancdaz is out of office sick, but I'll ping @b3rnard0 to get this bumped regarding priority.

[2015-03-25 15:13] b3rnard0 commented on #163
@cfarquhar We are going to expedite this as part of our next sprint that starts on 4/2. We hope to have a fix some time in the early part of the sprint. I'll add an estimate closer to the 4/2 date.

@claco @mancdaz @sigmavirus24

[2015-03-30 17:37] BjoernT opened #174 "Galera Check not working if wsrep_local_state is != 4"
In my case the check did not work properly if galera is in the following state:

wsrep_local_state	2
wsrep_local_state_comment	Donor/Desynced

wsrep_cluster_size	3
wsrep_cluster_status	Primary

wsrep_local_state_uuid	a1a1ed88-7582-11e4-a4dd-5be7e191d8a4
wsrep_cluster_state_uuid	a1a1ed88-7582-11e4-a4dd-5be7e191d8a4

the check did not return any out, neither a state or metrics

[2015-03-31 16:24] BjoernT opened #176 "Create memcache check"
Currently we do not check important memcache metric like:
* bytes
* evictions
* curr_connections

Since memcache can affect the performance of openstack negatively we should have those checks in place

[2015-04-01 08:03] mancdaz commented on #176
Hi @BjoernT

Currently the memcached plugin has no actual alarms triggered on any of the metrics it collects.  Would you anticipate needing alarms for these additional metrics, or simply to gather the data to see performance over time?

[2015-04-01 13:46] BjoernT commented on #176
@mancdaz The goal is to have alarm from my side, metrics collection is a side product for me. I'm particular interested in curr_connections that this metric does not hit the max connection limit and evictions. Ideally we won't have any evictions. Every evictions is indicating memory issues that objects don't survive the TTL.

[2015-04-01 14:15] BjoernT opened #177 "disk_utilisation.py is not excluding nb block devices and bails out on 30 metric limit"
disk_utilisation.py is not excluding nb block devices and bails out on 30 metric limit:
error Maximum of 30 metrics per checkerror Maximum of 30 metrics per check

I will create a pull request to remove those devices from the metric array

[2015-04-01 17:24] BjoernT opened #179 "nova_api_local_check.py reports useless active/error/... metrics"
Currently we report metrics from the novaclient.servers.list api call but doing this for the admin tenant only. This tenant usually has no active instances or any other instances in this state so I suggest to query this information across all tenants. Pull request coming

[2015-04-02 13:59] mancdaz commented on #179
Thanks @BjoernT !!

[2015-04-02 13:59] #179 closed

[2015-04-02 14:09] mancdaz commented on #102
Hi @cfarquhar @jrcloud @toxick

I'm closing this issue through lack of information. Please re-open if this continues to be a problem.

[2015-04-02 14:09] #102 closed

[2015-04-02 14:13] mancdaz commented on #110
Later version of agent has better handling of mem-errors, and better logging of tracebacks.

Closing for now. Please re-open if we see hangs again.

[2015-04-02 14:13] #110 closed

[2015-04-02 17:43] stevelle opened #184 "README for service checks to require hostname or ip"
The README file has become out of date, since the fix for #157. Documentation still says IP is required.

[2015-04-02 20:21] paul5801 opened #186 "No alert for down compute node"
Currently in CDC environments we are not notified if a compute node goes hard down. nova_service_check.py only checks the service locally on itself.  This check needs to be performed from neighboring compute nodes and/or infra nodes to check if other nodes are up.  This has already happened to a customer where they had a compute node down for 8hrs and we never alerted on it.

[2015-04-02 20:35] claco commented on #186
Can you define "compute node goes hard down"? Was the host machine completely dead, etc?

[2015-04-02 21:29] paul5801 commented on #186
In this specific case, the compute node had a RAID card failure and kernel panic'd and subsequently when they replaced the card during a maintenance we also did not get an alert.

[2015-04-02 22:29] mancdaz commented on #186
We need to follow up with the maas team and find out why alerts are not raised when an agent stops checking in.

[2015-04-02 22:45] claco commented on #186
I don't think that's ever been the case. If I stop the agent on my own servers, I don't get any notification. Did it used to work like that?

[2015-04-02 23:09] mattt416 commented on #186
Not as far as I'm aware.

[2015-04-03 00:51] claco commented on #186
Hrm. In this case, I would think maybe the compute being down would mean there's something in `nova service-list` that we could monitor.

[2015-04-03 07:55] mancdaz commented on #186
What if all compute nodes go down?

On Fri, 3 Apr 2015 01:51 Christopher H. Laco <notifications@github.com>
wrote:

[2015-04-03 07:57] mancdaz commented on #186
We should actually get something from this plugin. It checks administrative
state versus actual state of nova services

https://github.com/rcbops/rpc-maas/blob/master/nova_service_check.py

On Fri, 3 Apr 2015 08:54 Darren Birkett <darren.birkett@gmail.com> wrote:

[2015-04-03 17:44] cfarquhar commented on #186
nova_service_check.py does check service state, but it only does so from the local host that it's checking.  So, the monitor is in the same failure domain as the service it's monitoring.

https://github.com/rcbops/rpc-extras/blob/master/playbooks/roles/rpc_maas/tasks/local.yml#L242

@claco @mancdaz

[2015-04-03 19:11] mancdaz commented on #186
Right, but the other compute nodes also poll their nova-api for nova services, which includes all compute nodes that are registered. If one is administratively up, but shows as down, we should be getting an alert.

[2015-04-03 19:20] claco commented on #186
So, I was digging w/ @cloudnull.  The check on the computes pass --host (itself), so they only would error if they themselves go offline.

If you don't pass --host, it does return all metrics for all services...but currently, we're not dropping in that type of no-host check anywhere.

[2015-04-03 21:00] claco commented on #186
@mancdaz @mattt416 While not ideal, in the interim, we could add an aggregate 1/0 flag so when something in nova service-list goes down, we can at least drop in a check/alert for it.

I'm not sure about adding the check/alarms to all the infras via ansible, as we might not want to keep them. At the very least, we should be able to manually configure some checks when the changed file is in place.

[2015-04-08 14:19] mattt416 opened #188 "rabbitmq_status.py issues"
I've started to see this type of failure on newly built clusters:

[code]

It looks like https://github.com/rcbops/rpc-maas/pull/139 introduced this change -- however the issue seems to involve us alarming when `channel['number'] > 1`, but `number` here is actually the channel number which doesn't make sense to alarm on (assuming I'm reading this correctly).

I believe what @cfarquhar requested wa

[2015-04-08 14:46] mattt416 commented on #188
Additionally, it would probably make more sense to write a metric for whatever we are testing here and then alarm against that, rather than just bail the plugin if some value is too high.  The problem w/ doing the latter is that we end up getting alerts for this that say rabbitmq_disk_free_alarm_status which is a bit misleading if you don't dig into the details of the alert.

[2015-04-08 17:21] BjoernT commented on #188
After all the rule should be still, one connection has one channel. There is a blueprint for openstack to reuse connection while opening multiple channels. I do not know to which  RPC/openstack version this issue is related to, which might explain the change in behavior

[2015-04-09 07:38] mattt416 opened #190 "Wrong permission on swift-dispersion.py / swift-recon.py"
It looks like rpc-extras does a chmod on scripts once this repo is checked out, which means subsequent runs of setup-maas.yml will fail due to the following:

failed: [jenk-heat-167-node2] => {"failed": true}
msg: Local modifications exist in repository (force=no).

We probably need to address this on the rpc-extras side also.

[2015-04-14 08:37] mancdaz commented on #184
@stevelle also needs a juno backport

[2015-04-14 08:38] #184 closed

[2015-04-14 08:40] #190 closed

[2015-04-16 11:12] mattt416 opened #197 "os-a-d no longer enables nova's v3 API"
Our nova plugins query the v3 api, however this is now disabled in os-a-d kilo and cannot be enabled.  While that functionality might be enabled, it's probably best that we use v2(.1) instead.

[2015-04-17 18:38] b3rnard0 commented on #163
Fixed.

[2015-04-17 18:38] #163 closed

[2015-04-21 15:57] b3rnard0 commented on #188
@mattt416 Please look into this though it's still a low priority issue.

[2015-04-30 15:31] mattt416 opened #201 "horizon.py failing on master (kilo)"
horizon.py is currently failing when using requests 2.6.2 with the following error:

[code]

The stack trace being caught is:

[code]

If I downgrade requests to <2.6.1 this plugin seems to work fine.

[2015-04-30 15:33] sigmavirus24 commented on #201
The title is misleading but you're encountering https://github.com/kennethreitz/requests/issues/2568

This is a bug in urllib3 which we believe has been fixed in the following pull requests:

- https://github.com/shazow/urllib3/pull/599
- https://github.com/shazow/urllib3/pull/605

Requests 2.7.0 should be out soon fixing this issue.

[2015-05-06 10:55] mattt416 commented on #201
We're now installing requests 2.7.0, which is no longer affected by this.  Closing.

[2015-05-06 10:55] #201 closed

[2015-05-06 13:17] claco commented on #201
@mattt416 @sigmavirus24 Does this effect Juno at all?

[2015-05-06 13:18] mattt416 commented on #201
@claco shouldn't: https://github.com/stackforge/os-ansible-deployment/blob/juno/requirements.txt#L8

[2015-05-06 14:10] BjoernT commented on #201
@mattt416 @sigmavirus24 @claco Yes it does affect juno. You guys were looking at the wrong requirements.txt, the rpc-maas in juno is hosed and does not limit the version https://github.com/rcbops/rpc-maas/blob/juno/requirements.txt#L2

[2015-05-06 14:13] mattt416 commented on #201
@BjoernT We do use that requirements.txt file but it will be used _after_ pip.conf is configured w/ the RPC mirror, and that should have built the version of requests specified in os-a-d's requirements.txt.  Are you actively seeing broken juno deploys here?

/cc @sigmavirus24 @claco

[2015-05-06 14:15] BjoernT commented on #201
Yes I had one deployment having 2.6.0 installed and I did manually downgrade to 2.4.1. They used MAAS 10.1.3 version

[2015-05-06 14:20] sigmavirus24 commented on #201
@BjoernT was the pip.conf not in place? The only way to get 2.6.0 would have been from PyPI because http://mirror.rackspace.com/rackspaceprivatecloud/python_packages/10.1.3/ has 2.4.1

[2015-05-06 14:31] BjoernT commented on #201
The pip.conf was in place but I did not look into it because I did upgrade to 10.1.4 and that repository had 2.6.0 in, along with 2.4.1. Now it appears that we have remove 2.6.0 so it would not happen again

[2015-05-10 17:11] BjoernT opened #204 "Add support for critical fileystems thresholds"
Currently we do only create warning alarms which do not trigger core.
I added configurable warning and critical thresholds. Critical thresholds will also set off core.
Additionally we are working in getting warnings into core as well for our devices

[2015-05-10 17:11] BjoernT commented on #204
Wrong project

[2015-05-10 17:11] #204 closed

[2015-05-10 18:51] BjoernT opened #205 "swift_quarantine_check throws status error unrecognized command "quarantaine""
current version out of the master branch :
[code]

[2015-05-10 18:52] sigmavirus24 commented on #205
Because you've misspelled "quarantine" as "quarantaine"? Did you want it to autocorrect that for you?

[2015-05-10 18:53] sigmavirus24 commented on #205
"quarantaine" does not exist in either rpc-extras or rpc-maas. Can you elaborate on where that typo is coming from?

[2015-05-10 18:58] BjoernT commented on #205
Updated description

[2015-05-10 19:10] sigmavirus24 commented on #205
To reproduce this, can you provide the version of swift that you're testing against and perhaps any information that swift-recon provides?

Could you also provide the results of running `swift-recon -q` directly? (For reference, swift-recon is called with `-1` [here](https://github.com/rcbops/rpc-maas/blob/master/swift-recon.py#L234).)

[2015-05-10 19:37] BjoernT commented on #205
swift03:/usr/lib/rackspace-monitoring-agent/plugins# swift-recon -q
===============================================================================
--> Starting reconnaissance on 3 hosts
===============================================================================
[2015-05-10 19:37:38] Checking quarantine
Traceback (most recent call last):
  File "/usr/local/bin/swift-recon", line 24, in <module

[2015-05-10 19:39] sigmavirus24 commented on #205
In that case, this is clearly a bug in swift-recon, whatever version you happen to have installed. Please file a bug with swift about this.

[2015-05-10 19:40] #205 closed

[2015-05-10 19:49] BjoernT commented on #205
See https://bugs.launchpad.net/openstack-ansible/+bug/1453599

[2015-05-11 16:10] mattt416 commented on #188
This is still not solved -- it doesn't fail constantly now but I do still get periodic errors on a relatively unused cluster.

[2015-05-18 00:47] BjoernT commented on #201
@mattt416 @sigmavirus24 @claco
This check is still failing on a new 10.1.5 build:

status error module>\n    main(args)\n  File "./horizon_check.py", line 100, in main\n    check(args)\n  File "./horizon_check.py", line 29, in check\n    requests.packages.urllib3.disable_warnings()\nAttributeError: 'module' object has no attribute 'disable_warnings'\n
Traceback (most recent call last):
  File "./h

[2015-05-18 07:45] mattt416 commented on #201
Hi @BjoernT,

I've confirmed this is a problem.  @cloudnull or @sigmavirus24, do either of you know why we're now building requests 2.2.1 in juno/10.1.5?  I can see that we no longer pin to requests 2.4.1 however I don't see why we'd end up building such an old version of requests.

--Matt

[2015-05-21 08:21] #197 closed

[2015-06-01 04:13] BjoernT commented on #201
@cloudnull  @sigmavirus24 @mattt416 Can we get this resolved ? I don't want to hand over environments with failed horizon checks....

[2015-06-01 12:31] sigmavirus24 commented on #201
Sorry, I missed this while I was at the summit. I have no clue why 2.2.1 is being built for 10.1.5, that said, a conditional check before calling `disable_warnings` would work (like the one I had sent in a PR earlier) because 2.2.1 does not in fact issue warnings so there's nothing to disable.

[2015-06-01 14:00] BjoernT commented on #201
This issue is present since 10.1.4 (maybe even 10.1.3). I'm not eager to remove the disable_warnings from the maas checks since we still have the problem that the maas checks do not update properly during upgrade (See https://github.com/rcbops/rpc-extras/issues/95)  So we would most likely run outdated and/or modified checks after upgrades. Since we had requests 2.4.1 before I don't know why we do

[2015-06-01 14:29] sigmavirus24 commented on #201
@BjoernT "conditional check before calling `disable_warnings`" means we would only call `disable_warnings` if it is present to be called. This means that if some ancient version of requests is installed by some evil magic, then we don't stacktrace. If a new version is installed, then in fact it will be called.

[2015-06-02 12:35] mattt416 commented on #201
I was digging around to see why we have a lower version of requests in 10.1.5 onwards and the version we now build does align with https://github.com/openstack/requirements/blob/stable/juno/global-requirements.txt:

requests>=2.1.0,!=2.4.0,<=2.2.1

This then raises the question as to how we were getting a newer version in previous tags, but at least we are now building requests correctly.

[2015-06-02 14:35] sigmavirus24 commented on #201
One of the OpenStack client releases broke the gate along the way and some people went through and applied upper caps on all the dependencies based off of (what I still insist) was a fault list of dependency versions being tested at the gate.

[2015-06-02 22:21] BjoernT opened #212 "/root/.auth_ref.json caching can cause issue"
We had disks filling up on compute nodes and that caused maas to store corrupt service catalog cache files (took some time to find that). In such cases, I would like to add a parsing of file this file prior to actually using it and if the parser fails, rebuilt it or better storing it under /run which is mounted as tmpfs. So it would not be affected by disks filling up.

[2015-06-16 13:46] BjoernT commented on #201
@sigmavirus24 @mattt416
This issue is still present on new builds with 10.1.8, can we get this reopened

 #python /usr/lib/rackspace-monitoring-agent/plugins/horizon_check.py 172.29.237.146
status error orizon_check.py", line 100, in main\n    check(args)\n  File "/usr/lib/rackspace-monitoring-agent/plugins/horizon_check.py", line 29, in check\n    requests.packages.urllib3.disable_warnings()\nAtt

[2015-06-17 16:55] toxick commented on #212
If the file is empty nova_service and neutron_linuxbridge maas plugins fail with "status error No JSON object could be decoded".  Please remove the file if it cannot be written to.

[2015-06-19 18:44] nrb commented on #177
This is in master/kilo, needs to be pulled into juno.

[2015-06-22 15:37] nrb commented on #188
Can this be closed? It appears to be merged in kilo and juno.

[2015-06-22 15:37] nrb commented on #188
Actually I'm just going to close it, and if it shouldn't be, please re-open.

[2015-06-22 15:37] #188 closed

[2015-06-22 15:40] nrb commented on #172
@byronmccollum, @sigmavirus24 is this resolved, then?

[2015-06-22 15:42] sigmavirus24 commented on #172
looks it

[2015-06-22 15:42] #172 closed

[2015-06-23 17:51] BjoernT commented on #201
@sigmavirus24 @mattt416  BUMP

[2015-06-23 17:56] claco commented on #201
Bumps aren't how this is supported to work. :-) Please bring this to the rpc bug triage meeting tomorrow.

[2015-06-23 17:58] BjoernT commented on #201
I try every channel possible. We still have the problem and I can't understand that this bug is closed

[2015-06-23 22:32] stevelle commented on #176
as I was just looking at OSAD's memcached I wanted to ensure we had maas metrics on memcached.

We have all the the metrics made available to maas here:
https://github.com/rcbops/rpc-openstack/blob/master/maas/memcached_status.py

that includes all of the named metrics in this card. What precisely do we need for alarms?

[2015-06-29 20:20] xeregin opened #214 "Missing rabbitmq metric"
rabbitmq_status.py (10.1.9) does not provide the 'rabbitmq_max_channels_per_conn--<container>' metric, which causes the MaaS checks (installed from os-ansible-deployment/rpc_deployment/playbooks/monitoring/) to alert.
As a sample, here is the output from a recent call to this script:
[code]
rabbitmq_status.py from this repo needs to be modified to support this required metric.

Cheers! :)

[2015-06-29 20:38] nrb commented on #214
Looks like we'll need to grab https://github.com/rcbops/rpc-openstack/commit/42bd085e798548239c48b769709f2c24ada64b0a and https://github.com/rcbops/rpc-openstack/commit/c3950819cda7951429414e897d734d6759276af1 to account for this.

@xeregin what version are you testing currently? 10.1.10?

[2015-06-29 20:46] nrb commented on #214
This was also reported on https://bugs.launchpad.net/openstack-ansible/+bug/1466171, so it's existed for a couple versions.

[2015-06-29 22:01] nrb commented on #214
Double checked - this was a result of mistakes in tagging. The change is merged (https://github.com/rcbops/rpc-maas/pull/209), and will go into 10.1.10.

@BjoernT @b3rnard0

[2015-06-30 07:45] mattt416 commented on #201
Hi @BjoernT, we've had https://github.com/rcbops/rpc-maas/pulls open for quite some time.  I've already :+1: it but I'll make sure someone else reviews this morning so it gets merged.

@nrb @claco can you guys please make sure the above commit is included when we cut the next 10.x tag?

[2015-06-30 13:16] BjoernT commented on #201
Yeah @mattt416  the https://github.com/rcbops/rpc-maas/pull/211 never made it into the Juno branch, until 5 hours ago, so we missed it for 10.1.9.

[2015-06-30 14:05] nrb commented on #201
@mattt416 @BjoernT This will get into 10.1.10.

[2015-06-30 16:13] xeregin commented on #214
I was testing 10.1.9. Missed that bug in launchpad.

[2015-08-05 21:19] kstev opened #215 "Alert on predictive failure"
Dell script openmanage.py does not seem to be catching predictive drive failures. Unfortunately predictive failures do not "degrade" virtual disks or show up under omreport chassis. The failure predicted status may be found with an "omreport storage pdisk controller=0" under the "Failure Predicted" reading.

[2015-08-17 19:24] claco opened #216 "cinder_service_check.py not using --host option"
Backporting from master/kilo to juno from: https://github.com/rcbops/rpc-openstack/issues/200

--

The host argument is not used by the script leading to metrics being returned when they shouldn't.
Witthout host arg:
./cinder_service_check.py 172.29.236.3
status okay
metric cinder-scheduler_on_host_maas2-node3_cinder_scheduler_container-0377f639 uint32 1
metric cinder-scheduler_on_host_maas2-node1

[2015-09-23 09:02] mancdaz opened #218 "HP monitoring plugin doesn't monitor raid controller status"
Currently the plugin monitors disk/cpu/dimm status, but not the raid controller itself. This has affected customers who've had a raid controller fail.

My first assumption was that a failed raid controller means the underlying raid array is innaccessible, and so no alerts would get out anyway, but on reading it seems that some arrays can fail partially, meaning they don't recognise some of the dis

[2015-10-02 18:53] d34dh0r53 commented on #218
Merged

[2015-10-02 18:53] #218 closed

[2015-10-05 10:38] git-harry commented on #216
The commit has been merged.

[2015-10-05 10:38] #216 closed

[2015-11-05 11:58] #214 closed

[2015-11-05 12:00] mancdaz commented on #212
Since it seems that this issue would manifest in failing plugins (and hence getting alarms), I'm not sure there is anything that needs to be done here.

[2015-11-05 12:01] mancdaz commented on #186
This is being taken care of by the 'agent down' alerting being rolled out currently by maas themselves, and as such is not something we need to track in this repo

[2015-11-05 12:01] #186 closed

[2015-11-05 12:03] mancdaz opened #222 "Need to monitor mysql connection count versus configured max"
As a result of some recent occurrences, it was deemed a good idea to be able to monitor mysql connection count versus the configured max, so that we can alert when the node is approaching the configured maximum.

[2015-11-05 12:58] mancdaz commented on #222
The PR for kilo (in rpc-openstack) is here:

https://github.com/rcbops/rpc-openstack/pull/552

Once that merges we can backport the plugin changes.

[2015-11-05 14:12] toxick commented on #212
That's not an answer.  This is something that can (and should) be handled automatically without human intervention.

[2015-11-10 22:36] stevelle commented on #212
maas checks should recover when any legitimate underlying condition (such as a full disk) is cleared.
This seems like a legitimate issue. I'd like to reopen it (even knowing that means I will end up being responsible for a fix, per @sigmavirus24).

[2015-11-10 22:39] BjoernT commented on #212
Yes agreed, this seems like a case of catching the authentication exception and removing the file. Should be a fairly simple hack inside the maas_common module

[2015-12-11 01:56] byronmccollum opened #228 "v10.1.18: RackspaceMonitoringValidationError - alarmParseError - Failed to parse alarm"
Started seeing this in 10.1.18...

[code]

[2015-12-14 04:47] sigmavirus24 commented on #228
I'm willing to bet that the alarm criteria wasn't properly templated but it's too late right now for me to look into this.

@mancdaz @hughsaunders can you look at this tomorrow?

[2015-12-14 18:00] andymcc commented on #228
@byronmccollum It looks like you're missing some new vars, can you ensure the following are set:

The problem is that in Juno we don't default vars (because the use of defaults/main.yml only really came into play in the kilo restructure). Unfortunately that means there is a manual process in Juno, that we haven't done a good job of documenting at this point.

rabbitmq_queued_messages_excluding_not

[2015-12-14 18:00] andymcc commented on #228
If that doesn't resolve the problem let me know and I'll check it out!

[2015-12-14 19:49] byronmccollum commented on #228
That was it. Thanks.

[2015-12-14 22:50] andymcc commented on #228
@asettle @robb-romans can you think of a good way we can document this? The issue is essentially:

In juno, when we add new vars there is no way to automatically copy them, so during upgrades we need to copy over new vars (in etc/rpc_deploy/user_variables.yml) for some monitors (the above 2 in particular for this example) - otherwise the vars aren't specified. This is only an issue for Juno, and m

[2015-12-14 23:03] sigmavirus24 commented on #228
To be clear, juno -> juno upgrades (e.g., 10.1.17 -> 10.1.18)

[2015-12-14 23:45] asettle commented on #228
@andymcc - no problem. We can just add a note in the current upgrade guide and in the release notes. Clarifying that this is *just* for Juno and not relevant for the Kilo upgrades?

[2015-12-14 23:50] asettle commented on #228
Change that, just the v10 release notes should be fine. See here: http://docs.rackspace.com/rpc/api/v10/bk-rpc-v10-releasenotes/content/rpc-upgrade.html

[2015-12-15 15:53] robb-romans commented on #228
also: https://github.com/rpcdocs/rpcdocs/issues/449

[2016-05-16 17:37] mtsprout opened #229 "Set Status to Critical if no data is returned on hardware checks"
For checks that use manufacturer's tools (i.e. OpenManage or hp*cli) to return status of hardware, a check that returns no data should default to a critical status as it is most likely an issue that requires further investigation.

[2016-05-19 19:47] b3rnard0 commented on #229
@git-harry @d34dh0r53 Can we triage this bug?

[2016-05-19 20:11] sigmavirus24 commented on #229
cc @andymcc

[2016-05-20 09:06] git-harry commented on #229
Issue moved to https://github.com/rcbops/rpc-openstack/issues/1093

[2016-05-20 09:06] #229 closed

[2016-05-20 09:07] git-harry commented on #228
This repo is no longer actively maintained. If this issue is still valid please open a new issue at https://github.com/rcbops/rpc-openstack/issues

[2016-05-20 09:07] #228 closed

[2016-05-20 09:08] git-harry commented on #222
This repo is no longer actively maintained. If this issue is still valid please open a new issue at https://github.com/rcbops/rpc-openstack/issues

[2016-05-20 09:08] #222 closed

[2016-05-20 09:08] git-harry commented on #215
This repo is no longer actively maintained. If this issue is still valid please open a new issue at https://github.com/rcbops/rpc-openstack/issues

[2016-05-20 09:08] #215 closed

[2016-05-20 09:08] git-harry commented on #212
This repo is no longer actively maintained. If this issue is still valid please open a new issue at https://github.com/rcbops/rpc-openstack/issues

[2016-05-20 09:08] #212 closed

[2016-05-20 09:08] git-harry commented on #177
This repo is no longer actively maintained. If this issue is still valid please open a new issue at https://github.com/rcbops/rpc-openstack/issues

[2016-05-20 09:08] #177 closed

[2016-05-20 09:08] git-harry commented on #176
This repo is no longer actively maintained. If this issue is still valid please open a new issue at https://github.com/rcbops/rpc-openstack/issues

[2016-05-20 09:08] #176 closed

[2016-05-20 09:08] git-harry commented on #174
This repo is no longer actively maintained. If this issue is still valid please open a new issue at https://github.com/rcbops/rpc-openstack/issues

[2016-05-20 09:08] #174 closed

[2016-05-20 09:09] git-harry commented on #164
This repo is no longer actively maintained. If this issue is still valid please open a new issue at https://github.com/rcbops/rpc-openstack/issues

[2016-05-20 09:09] #164 closed

[2016-05-20 09:09] git-harry commented on #151
This repo is no longer actively maintained. If this issue is still valid please open a new issue at https://github.com/rcbops/rpc-openstack/issues

[2016-05-20 09:09] #151 closed

[2016-05-20 09:09] git-harry commented on #137
This repo is no longer actively maintained. If this issue is still valid please open a new issue at https://github.com/rcbops/rpc-openstack/issues

[2016-05-20 09:09] #137 closed

[2016-05-20 09:09] git-harry commented on #130
This repo is no longer actively maintained. If this issue is still valid please open a new issue at https://github.com/rcbops/rpc-openstack/issues

[2016-05-20 09:09] #130 closed

[2017-05-18 14:58] Alfano93 opened #252 "Separate Ceph monitoring into its own role"
## Is this a feature or a bug?

- [x] Feature _(request for enhancement, new functionality)_
- [ ] Bug _(something is broken)_

## Which version of rpc-openstack does this issue relate to?
- newton-14.0

Run `git log --pretty=oneline | head -n 1` and provide the output below between
the backtick lines:

[code]

## What happened?

Ceph is now deployed as its own environment and is no longer include

[2017-05-18 17:42] Alfano93 commented on #252
This is a list of changes that I had to make when I first deployed MaaS on ceph nodes. I now make these changes through the inventory, but it could give some direction as to which tasks could be taken out for Ceph nodes.

Had to comment out Drop pip config in /etc/ansible/roles/pip_install/tasks/configure.yml

Had to comment out keystone in /etc/ansible/roles/rpc_maas/tasks/main.yml

Had to commen

[2017-05-23 18:31] cfarquhar opened #253 "RabbitMQ plugin breaks in swift-only environment."
When running a swift-only control plane, you don't get many (any?) rabbitmq connections, so the plugin fails with this error message:

[code]
As a reference point, here are the connections in a more standard (i.e. not swift-only) control plane.  Heat, ironic, neutron, and nova vhosts report connections, while keystone does not.

[code]

I verified that the following patch solves the problem, but I

[2017-05-24 02:54] cloudnull commented on #253
Looks good to me, mind submitting a PR w/ the patch so that we can gate the changes, review it, and potentially merge it ?

[2017-05-24 14:01] cfarquhar commented on #253
Thanks for the feedback.  PR incoming.

[2017-05-25 19:22] cloudnull commented on #253
resolved in #254

[2017-05-25 19:22] #253 closed

[2017-05-26 15:17] cloudnull opened #255 "RFC - RPC-MaaS role breakdown"
### RFC - RPC-MaaS role breakdown
**2017-05-25 10:00**
**maas, rpc, playbooks, roles**

The RPC-MaaS role is too specific, hard to understand, slow to execute, and is nearly impossible to run standalone. The role makes far too many assumptions that an entire OpenStack cloud following the standard RPC reference architecture and in many cases folks may want to deploy RPC-MaaS outside of the typical

[2017-05-26 15:19] cloudnull commented on #252
I agree with this issue, however, I've written a general purpose spec to try and tackle this for all of the monitors. See https://github.com/rcbops/rpc-maas/issues/255 I think we should close this issue and focus on this as a general improvement in our monitoring capabilities.

[2017-05-26 16:14] Alfano93 commented on #252
I agree. I'm all for closing this.

[2017-05-26 16:54] #252 closed

[2017-05-26 16:58] Alfano93 commented on #255
+1 This captures 252 as part of its scope. The individual playbooks would give deployments more flexibility in setting up MaaS.

[2017-05-26 17:20] antonym commented on #255
+1, definitely would be nice to break it all out so that it works with more deployments and so that it doesn't spin so long on missed tasks. LGTM.

[2017-05-26 17:46] mrhillsman commented on #255
This looks great, allows for better understanding of what is happening, increases flexibility of use by being modular, removes a lot of unnecessary overhead +1000

[2017-05-26 18:03] supermari0 commented on #255
+1 especially for the standalone tests. As someone new to these playbooks, separate tests for each playbook would help me understand the desired end state of each component.

[2017-05-26 18:26] galstrom21 commented on #255
"The RPC-O repository will have its RPC-MaaS installation playbook modified to point at the new set of playbooks."

Can we make sure that part of the design principle with this split out is that RPC-O is not tied to these new repos in a monolithic way (like the current relationship between RPCO and OSA). The overarching goal (did not see this in the spec) would be for monitoring to be able to be u

[2017-05-26 18:27] galstrom21 commented on #255
Also, for more justification, we need to accept that there are at least 3 offerings this set of playbooks needs to support. A full openstack compute deployment, a standalone ceph deployment, and a standalone swift deployment (where standalone means 'does not include compute control plane'.

[2017-05-26 19:32] cloudnull commented on #255
@galstrom21
To the first point, yes. The primary goal here is to ensure that we're developing this as a stand-alone project and that it can be consumed independently from the main rpc-o release train and to improve understanding and readability of the monitoring components. (I will update the spec to cover this).

To the second point, absolutely. While this is the intent of the split-out (improvin

[2017-05-30 21:09] galstrom21 commented on #255
👍

[2017-05-31 15:33] cfarquhar opened #259 "maas_target_alias support not implemented"
The defaults for this role include documentation for a `maas_target_alias` variable \[1]:

[code]

However, this functionality doesn't appear to be implemented:
[code]

We should either remove the variable from defaults/main.yml, or implement support for using `target_alias` instead of `target_hostname` \[2]

\[1] https://github.com/rcbops/rpc-maas/blob/68a69933812/defaults/main.yml#L76-L86
\[2] h

[2017-05-31 15:40] cfarquhar opened #260 "lb_name documentation is inaccurate"
The `lb_name` documentation suggests you can associate checks with a specific MaaS entity \[1], but this isn't actually implemented.  Instead, the `lb_name` string is used in the name of the check \[2].  We should either update the documentation or implement the functionality described in the documentation.

\[1] https://github.com/rcbops/rpc-maas/blob/68a69933812/defaults/main.yml#L104-L108
[code

[2017-06-02 04:28] shane-c opened #261 "stable/kilo: Install MAAS Plugins fix"
The stable/kilo branch has a bug in raxmon_agent_install.yml

https://github.com/rcbops/rpc-maas/blob/stable/kilo/tasks/raxmon_agent_install.yml#L19-L21

[code]

The src variable should be maas_source_plugin_dir

https://github.com/rcbops/rpc-maas/blob/stable/kilo/defaults/main.yml#L486-L488

[2017-06-02 14:18] #261 closed

[2017-06-02 21:25] cloudnull commented on #255
The refactoring work for this RFC has been completed. Please review [ #256 ]. This initial PR converts the role into playbooks, modifies the documentation to support the new structure, and updates the tests (though they are not broken out yet). At this point, the work is ready for folks to take it for a spin. Please submit all new feedback on the implementation of this RFC within the PR #256.

[2017-06-05 15:42] npawelek opened #264 "stable/kilo: Update container_storage_checks.yaml.j2"
The stable/kilo branch has a bug in the container_storage_checks template which deploys with a venv. As venv's don't yet exist in Kilo, it causes the check to fail.

https://github.com/rcbops/rpc-maas/blob/stable/kilo/templates/container_storage_checks.yaml.j2#L9-L10

Submitting a PR to update the template to use the plugin directly.

[2017-06-05 16:15] BjoernT commented on #264
That was addressed with https://github.com/rcbops/rpc-maas/commit/236a4082ad95e98ef94800b7ad3f0a0fef74612b did you use an older code base ?

[2017-06-05 17:13] npawelek opened #266 "stable/liberty: Remove maas_plugin_dir variable"
Identical to #265, but for the stable/liberty branch.

Removing venv wrapper from hp-check.yaml.j2 and container_storage_checks.yaml.j2, and removing `maas_plugin_dir` variable.

[2017-06-05 17:49] cfarquhar opened #268 "Install OEM tools for hardware monitoring"
The Dell- and HP-specific plugins assume the vendor specific tools (i.e. Dell OMSA or HP MCP) are installed.  Some brief digging suggests this is being performed manually during deployment time \[1].

Ideally, the rpc-maas playbooks would handle this.

\[1] https://github.com/rsoprivatecloud/rpc-deployments/tree/master/pre-qc#hp-management-component-pack-(mcp)

[2017-06-05 18:13] #266 closed

[2017-06-05 18:13] #264 closed

[2017-06-05 18:21] BjoernT commented on #268
Yes I had the same problem and added the HP tools via https://github.com/rsoprivatecloud/openstack-ops/commit/db84abb14d9fbac7098f68d45a0bec78d08323e6 inside the ops module. The independence of the roles seem to make it a copy and past job now, unless we move the HP and Dell monitoring into it's own role

[2017-06-05 20:30] cloudnull commented on #268
we can now isolate this using the following playbook https://github.com/rcbops/rpc-maas/blob/master/playbooks/maas-host-vendor.yml

which can install hp or dell specific tools here:
* https://github.com/rcbops/rpc-maas/blob/master/playbooks/common-tasks/maas-host-vendor-dell.yml
* https://github.com/rcbops/rpc-maas/blob/master/playbooks/common-tasks/maas-host-vendor-hp.yml

[2017-06-05 20:31] cloudnull commented on #255
This was implemented and merged here  [ #256 ]

[2017-06-05 20:31] #255 closed

[2017-06-05 22:04] BjoernT opened #269 "RabbitMQ connection_closed_abruptly not monitored"
In production we see quite often that cluster of "connection_closed_abruptly" messages can lead to stability issues of a rabbitmq cluster, especially when the one of the fanout queues drops the consumer and the messages keep growing.
In our case, the growth of messages for the "RabbitMQ Queue growth rate is above configured threshold" check was below 15 and got unnoticed until we had 1.7 million m

[2017-06-06 14:40] cloudnull commented on #268
@cfarquhar @BjoernT if you have a list of repos and packages to install i'd be happy to add them

[2017-06-06 14:40] cloudnull commented on #259
done.

[2017-06-06 14:40] #259 closed

[2017-06-06 14:43] BjoernT commented on #268
For HP see my previous comment but we mainly install  hpasmcli, hpssacli, hponcfg.
Dell I have to dig out myself

[2017-06-06 14:57] cfarquhar commented on #268
@cloudnull Thanks!  Here is a copy/paste from the deployment team's repo:

### Dell
[code]

### HP
[code]

[2017-06-06 15:15] antonym commented on #268
Have some of this replicated to a degree in Ansible if it's helpful:

https://github.com/antonym/ecopoiesis-utility-builder-centos/blob/master/roles/prep-dell/tasks/main.yml

https://github.com/antonym/ecopoiesis-utility-builder-centos/blob/master/roles/prep-hp/tasks/main.yml

You could probably drop off the hpsum/dsu stuff as I was testing a bootable centos image for handling all firmware/bios up

[2017-06-06 17:19] odyssey4me commented on #268
Just a note that the role itself should not add these repositories - perhaps the tests can, but the role itself should expect that the repositories are already there. If the role adds the repositories then we'll have to ensure that the config to override this is included in the artifacts repo config and that any extra repositories are included in the apt artifacting.

[2017-06-08 12:42] npawelek opened #275 "[WIP] Add default overrides for rpc-maas in Kilo / Liberty / Mitaka"
Based on the current installation mechanisms, there's a need to add defaults on a per-release basis. This is mainly to reduce monitoring noise on alarms that support is unable to directly influence. Disabling an alarm still runs the associated check to gather metrics, but it will not generate any notifications.

#### Kilo

[code]

#### Liberty

[code]

#### Mitaka

[code]

[2017-06-08 16:41] cfarquhar opened #279 "Support for excluded checks/alarms in verification playbook"
The `maas-verify.yml` playbook doesn't appear to honor `maas_excluded_checks` or `maas_excluded_alarms` variables \[1].  I would have expected to see the `--excludedchecks` argument passed to `rpc-maas-tool.py` \[2].

Please note that I haven't actually tested this, so I could be missing something.  I happened to notice this while investigating an issue in rpc-openstack prior to rpc-maas being mov

[2017-06-08 17:10] cloudnull commented on #275
done.

[2017-06-08 17:13] cloudnull commented on #279
@cfarquhar the current check method simply verifies the enabled checks. If a check has been set in the ``maas_excluded_checks`` variable the check should never be deployed, or if the check is deployed it should be disabled which the tool would omit from verification automatically. If this is not working as expected please let me know and I will make adjustments.

[2017-06-08 17:23] npawelek commented on #275
Thanks! Can we leave this open for the time being? It's still a WIP.

[2017-06-08 17:54] cloudnull commented on #275
++

[2017-06-19 21:14] BjoernT opened #286 "Update MaaS RabbitMQ check to exclude versioned_notification queues"
https://github.com/rcbops/rpc-maas/blob/master/playbooks/templates/rax-maas/plugins/rabbitmq_status.py#L170-171

The old method of filtering based on .startswith won't catch the versioned_notifications.X (info,error,etc.) queues, causing false positive alerts when those queues build up.

This seems to only be an issue starting with the Mitaka release (when versioned notifications were introduced),

[2017-06-19 21:44] BjoernT commented on #286
The larger problem I see is to exclude those queues but not checking for consumers, ultimately leading into the situation where the notifications queues are always growing to a point where it can crash rabbitmq. The check would need to be dependent on the notification_driver configuration and if ceilometer is enabled or not. If you setup a notification driver other than noop but not configuring ce

[2017-06-20 14:21] npawelek commented on #275
I think we've identified all the generalized overrides at this point. Closing this.

[2017-06-20 14:21] #275 closed

[2017-06-28 14:06] cloudnull commented on #286
Looks like this is now taken care of, can we close this issue?

[2017-06-28 14:14] #286 closed

[2017-07-12 14:23] cloudnull commented on #279
I believe this has been corrected in the current master. please let me know if you encounter any further issues with this.

[2017-07-12 14:23] #279 closed

[2017-07-13 19:25] BjoernT opened #303 "conntack count not monitored inside the containers"
The sysctl net.netfilter.nf_conntrack_count is currently monitored on host level but due to container abstraction, the connection count can be different compared to the host.
Hence we need to monitor both, host and containers for net.netfilter.nf_conntrack_count.

This is particularly important for neutron agent container.

[2017-07-14 09:35] cemason opened #304 "Multiple HP checks break if battery status isn't shown"
Hello! This is regarding:

https://github.com/rcbops/rpc-maas/blob/bfc16f7ef0a9867887966bbe88e789222cb27f95/playbooks/templates/rax-maas/hp-check.yaml.j2

If 'hpssacli ctrl all show status' doesn't report details for the battery, it seems to break the script so that it falsely reports alerts for more than just the battery. I am looking at a case where the command the check appears to run doesn't s

[2017-07-14 13:40] BjoernT commented on #304
This issue should be fixed already but we have not yet rolled out the fix as part of a release (https://github.com/rcbops/rpc-maas/commit/eaee034134c53a73b655b4cf56a44e897d040e35).
I assume the battery was bad in this case, in which version did it happen, what was the exact output of the HP utility ?

[2017-07-14 15:21] npawelek commented on #304
The problem is when 'Cache Status' is marked as 'Permanently Disabled', the 'Battery/Capacitor Status' is removed from hpssacli output. This is what causes the script to bomb out. I think the fix Bjoern added should account for this.

[2017-07-18 20:08] cfarquhar opened #308 "Add support for HTTP proxy with rackspace-monitoring-agent"
The Rackspace monitoring agent supports a `monitoring_proxy_url` configuration item in `/etc/rackspace-monitoring-agent.cfg`.  The template for this file should expose the variable.

In openstack-ansible, the equivalent variable name is `proxy_env_url`, so I'll use that as a starting point.

[2017-07-18 21:19] cfarquhar opened #311 "Split maas_external_ip_address into multiple vars"
The `maas_external_ip_address` variable is currently used for both `target_hostname` and `url` when defining a remote HTTP MaaS check \[1].  Some use cases require differentiating between the two.

As an example, my use case includes internal-only domain names and a public IP NAT'd to the internal API endpoint.  Thus, I need different values for `target_hostname` (i.e. public IP address 123.123.12

[2017-07-18 21:24] npawelek commented on #308
@cfarquhar Just an FYI, if environment variables are properly configured for `http_proxy`, the agent automatically picks up the settings without having to define it in the agent configuration.

[2017-07-18 22:16] cfarquhar commented on #308
Thanks @npawelek.

I have the proxy configured using OSA's standard `proxy_env_url` method, which results in `http{,s}_proxy` (and the uppercase variants) being added to `/etc/environment`.

The agent doesn't seem to account for any environment variables in the init configs \[2] \[3].  There are several places we could fix this, but I'm not sure which is "best."

How are you exposing the environme

[2017-07-19 00:58] cfarquhar opened #313 "Remote Horizon check needs a trailing slash"
The `lb_api_check_horizon` check fails for me on Ocata.  The check expects a `200` response, but gets a `301` \[1].  Adding a trailing slash to the url seems to give the expected behavior \[2].

\[1]
[code]

\[2]
[code]

[2017-07-19 16:13] #313 closed

[2017-07-19 16:16] #308 closed

[2017-07-19 18:25] npawelek commented on #304
I believe this is resolved. We can re-open if any further issues are encountered with the version of `hp_monitoring.py` from this repo.

[2017-07-19 18:25] #304 closed

[2017-07-19 21:29] #311 closed

[2017-07-19 23:20] npawelek opened #316 "Swift/Ceph URE monitoring with smartctl"
We're currently don't monitor for Unrecoverable Read Errors (UREs) across our RAID0 swift and ceph nodes. This can potentially cause corrupted data to be located in bad sectors of RAID0 volumes. There was a PR in the old repo (https://github.com/rcbops/rpc-openstack/pull/1967) that incorporated the functionality for a specific Adaptec HBA and I'm wondering if we can utilize these building blocks t

[2017-07-25 20:58] BjoernT opened #320 "virtual block devices installed as disk utilization alarms"
Based off https://github.com/rcbops/rpc-openstack/issues/38, iscsi based devices are still included inside the disk utilization checks/alarms.  In this case it was based off pure storage which does not identify as VIRTUAL DISK, unlike the iscsi-initiator

[code]

It seems smarter to just look at the udev structure to identify iscsi device like:

[code]

[2017-07-25 21:09] reddydodda opened #321 "Grafana Dashboard wont show graphs"
Only Graphs are shown for Network, Summary and System metrics. for others, panels are created but nothing get displayed .

Branch : master

[2017-07-28 08:07] evrardjp opened #324 "files/pip-constraints doesn't have setuptools, wheels, pip."
Because we install things in an isolated manner, we could technically pull setuptools when installing monitorstack package.
On my kilo, I landed on the terrible 36.2, which prevents the installation of monitorstack package.

We should probably do this differently, in a venv for example, and with more complete constraints.

[2017-08-01 15:15] cfarquhar opened #327 "Process check incorrectly matches itself"
The `process_check_host.py` plugin does not detect failed processes because it matches it's own entry, other invocations of the plugin, and processes running in a container.  In the output below, the `vi` process is running in the utility container.

[code]

[2017-08-17 20:13] shane-c commented on #321
I'm running into this same issue on master.

[code]

[2017-08-23 15:09] mattt416 opened #337 "Add testing for MaaS poller functionality"
PR https://github.com/rcbops/rpc-maas/pull/288/ merged which adds the ability to deploy private pollers in an environment.  We'll want to test this in a gate job somehow, either by first deploying without the poller and then deploying with, or deploying different scenarios on a per instance basis.

We'll need to get the ability to use private pollers enabled on the gating account, which I'll handl

[2017-09-04 19:35] devx opened #342 "Horizon Check fails with self Sign CA"
The horizon check will fail when using a self-signed CA.  This is partly due to the use of (certifi)[https://github.com/certifi/python-certifi]; as certifi does not read the systems CA certs; even if you add the self sign ca.pem to the `/usr/local/lib/python3.5/dist-packages/certifi/cacert.pem`.

`Where certifi reads the CA certificates`
[code]

`Simple requests to service running self sign certif

[2017-09-05 14:03] devx commented on #342
talking to @major he mention that the site I was using was probably not serving a bundle certificate (cert + CA cert). I believe this is the issue; I will double check and update.

[2017-09-06 03:16] devx commented on #342
This can be fixed by concatenating the CA bundle to the location specifified by `certified.where()`

[code]

`cat ~/.dotfiles/custom-ca/rax-bundle-ca.crt >> /usr/local/lib/python3.5/dist-packages/certifi/cacert.pem`

[code]

[2019-09-23 13:04] #260 closed

[2019-09-23 13:04] #268 closed

[2019-09-23 13:04] #269 closed

[2019-09-23 13:04] #303 closed

[2019-09-23 13:04] #316 closed

[2019-09-23 13:04] #320 closed

[2019-09-23 13:04] #321 closed

[2019-09-23 13:04] #324 closed

[2019-09-23 13:04] #327 closed

[2019-09-23 13:04] #337 closed

[2019-09-23 13:04] #342 closed

[2019-09-24 13:57] busterswt opened #677 "Monitor increases of softnet drops"
The kernel drops traffic when the netdev_max_backlog queue is full for a given CPU core. This can result in application issues, notably TCP retransmits.

In the /proc/net/softnet_stat file, these 'drops' are noted in the second column. Each line represents a CPU core:

# cat /proc/net/softnet_stat
0073d76b 00000000 000049ae 00000000 00000000 00000000 00000000 00000000 00000000 00000000
000000d2 00

[2019-09-27 19:58] Alfano93 opened #678 "Create more specific checks around ceph"
Currently, our monitoring only watches the status of a ceph cluster and alerts if it is in a HEALTH_WARN or HEALTH_ERR state. An engineer has no more information than the cluster health state and and cannot determine the severity of an alert based on these statuses alone.

We should have more specific alerting around ceph and state specifically why a cluster is in the state that it is in. Ceph can

[2019-10-07 23:19] #677 closed

[2020-02-13 22:47] jacripe opened #688 "Deprecated virtualenv argument "--no-site-packages""
NOTE: The `--no-site-packages` option for `virtualenv` has been previously deprecated and is no longer available on the current release. This should be removed from the rpc-maas playbooks.

## REFERENCES
* https://virtualenv.pypa.io/en/16.7.9/changes.html#v1-7-2011-11-30
`Made --no-site-packages behavior the default behavior.`

* https://virtualenv.pypa.io/en/latest/reference (FROM GOOGLE CACHE)
[

[2020-09-09 16:46] shannonmitchell commented on #688
This was recently fixed in https://github.com/rcbops/rpc-maas/pull/697

[2020-09-09 16:46] #688 closed

[2020-09-16 16:20] shannonmitchell commented on #678
The new checks and alarms are being worked in the following PR:  https://github.com/rcbops/rpc-maas/pull/712

[2020-10-13 15:15] mattkleifgen opened #713 "possible ubuntu 18.04 upgrade issues"
After upgrading the OS from 16.04 -> 18.04 on a ceph cluster there were two manual cleanup/install steps required for the playbooks to run successfully.

- rsync had to be manually installed on the target node
- the existing /openstack/venvs/maas-0.0.0/ venv had to be deleted and rebuilt, before that there were errors regarding setuptools versions and pip

Pretty quick fixes in the playbooks, and

[2021-02-28 07:55] wesmattson opened #723 "Octavia - MaaS fails on Octavia if there are multiple projects named 'admin'"
When running maas playbooks, if Octavia is in the environment and there are 2 projects named 'admin' the playbooks fail with the following:

[code]
I am trying to set an override to set octavia_project to the id of the correct admin project as a workaround. I'll report back if that works but otherwise I think we may need to update the octavia maas playbooks to account for this situation unless the

[2021-03-02 03:58] JCallicoat opened #724 "Container storage check plugin fails when /etc/mtab is a symlink"
The current [container storage check](https://github.com/rcbops/rpc-maas/blob/a3f9183fea6ff9f354df325fef324ae596fbdf26/playbooks/files/rax-maas/plugins/container_storage_check.py) does a chroot into `/proc/<container init process pid>/root` and calls `psutil.disk_partitions()`. This fails when `/etc/mtab` is a symlink to `../proc/self/mounts`, which is the default configuration in current linux di

[2021-03-02 04:56] JCallicoat commented on #724
It looks like python-nsenter will not work without calling out to another process since the _python process itself_ is still in the global pid and mount namespace.

Note that this works if I change the `os.path.realpath` call to something like `os.system('cat /etc/mtab')` because the new cat process inherits the pid/mnt namespace of the container we entered.

[code]

[code]

[2021-03-02 05:08] JCallicoat commented on #724
It's also possible to call out to another process in the container pid/mnt namepace with the `lxc` module itself rather than using the `nsenter` module, with the `attach_wait` method on `Container` objects. It's a but ugly because you have to use a pipe to get the output from `attach_wait`.

[code]

[code]

[2021-06-10 12:04] cemason commented on #723
I don't think this repo ever gets updated anymore so I am leaving a note for the next wayward soul who ventures upon this accursed issue - changing octavia_project to the ID rather than the name ("admin") does indeed seem to work.

[2022-04-05 14:57] BjoernT opened #738 "verify-maas does no longer work with Ubuntu 20.04"
This needs to be investigated as the SSL error seems to imply that the HTTPS protocol gets dropped once it queries the url **/v1.0/hybrid:xxx/views/overview**

`Traceback (most recent call last):
  File "/openstack/venvs/maas-22.4.0/lib/python3.8/site-packages/libcloud/common/base.py", line 837, in request
    self.connection.request(method=method, url=url, body=data,
  File "/usr/lib/python3.8/ht